[user]
	name = benabbottnz
	email = 2616473+benabbottnz@users.noreply.github.com
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
